{% extends "base.html" %}

{% block title %}Guess the secret number{% endblock title %}

{% block content %}

<h1>Baza podataka</h1>

<form action="/add-message" method="post">

    <input type="text" name="username" placeholder="Enter your name">

    <br>
    <br>

    <textarea name="text" rows="5" placeholder="Enter your message"></textarea>

    <br>

    <button type="submit">Submit</button>

</form>

<h2>Messages:</h2>

{% for x in messages %}
    <p>
        <strong>{{ x.author }}:</strong>
        {{ x.text }}
    </p>
{% endfor %}


{% endblock content %}